@import "@styles/variables.scss";

.yachtOffers {
    margin-bottom: 45px;

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: $tablet-album-width) {
    .yachtOffers {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: $phone-album-width) {
    .yachtOffers {
        margin-bottom: 10px;

        flex-direction: column;
    }
}