@import "@styles/variables.scss";

.bestYachtOffer{
    display: flex;

    font-family: $comfortaa;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: $white-color;

    // transition: all 1s ease-out;

    overflow: hidden;

    &_offer {
        position: relative;

        height: fit-content;

        font-family: $comfortaa;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;

        color: $white-color;

        flex-grow: 1;

        display: flex;
        align-items: center;

        &_video {
            margin: 0 auto;
        }

        &_frame {
            width: 100%;
    
            overflow: hidden;
        }

        &_img {
            width: 100%;

            -webkit-transition: all 1.5s ease; /* Safari and Chrome */
            -moz-transition: all 1.5s ease; /* Firefox */
            -ms-transition: all 1.5s ease; /* IE 9 */
            -o-transition: all 1.5s ease; /* Opera */
            transition: all 1.5s ease;
        }

        &_price {
            position: absolute;
            top: 40px;
            right: 40px;
    
            &__dark {
                color: $dark-brown-color;
            }
        }

        &_model {
            position: absolute;
            left: 24px;
            bottom: 75px;
        }

        &_made {
            position: absolute;
            left: 24px;
            bottom: 45px;

            display:flex;

            &_place {
                margin-left: 5px;
            }
        }
    }
}

.bestYachtOffer {
    &_offer {
        &_img:hover {
            transform: scale(1.05);
        }
    }
}

// .bestYachtOffer:hover {
//     transform: translate(10px, 10px);
// }

.bestYachtOffer {
    &_offer::after {
        position: absolute;
        content: "ПОДРОБНЕЕ  >";

        right: 50px;
        bottom: 75px;
        
        color: $white-color;

        z-index: 5;
        // transform: translateX(100%);

        transition: all 1s;
    }
}

// .bestYachtOffer:hover::after {
//     transform: translateX(-30%);
// }

@media screen and (max-width: $tablet-album-width) {
    .bestYachtOffer {
        &_offer {
            &_price {
                top: 30px;
            }
        }
    }
}

@media screen and (max-width: $tablet-album-width) {
    .bestYachtOffer {
        &_offer {

            &_price {
                top: 20px;
                right: 15px;
            }

            &_bestOffer {
                left: 12px;
                bottom: 70px;
            }

            &_model {
                left: 12px;
                bottom: 45px;
            }

            &_made {
                left: 12px;
                bottom: 25px;
            }
        }
    }

    .bestYachtOffer {
        &_offer::after {
            bottom: 45px;
        }
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .bestYachtOffer {
        &_offer {

            font-size: 12px;

            &_price {
                top: 20px;
                right: 15px;
            }

            &_model {
                left: 12px;
                bottom: 35px;
            }

            &_made {
                left: 12px;
                bottom: 20px;
            }
        }
    }

    .bestYachtOffer {
        &_offer::after {
            bottom: 35px;
        }
    }
}

@media screen and (max-width: 700px) {
    .bestYachtOffer::after {
        font-size: 12px;
    }
}

@media screen and (max-width: $phone-album-width) {
    .bestYachtOffer {

        &_offer {
            font-size: 10px;

            &_model {
                left: 12px;
                bottom: 30px;
            }

            &_made {
                left: 12px;
                bottom: 15px;
            }
        }
    }

    .bestYachtOffer {
        &_offer::after {
            bottom: 30px;
        }
    }
}

@media screen and (max-width: 400px) {
    .bestYachtOffer {

        &_offer {

            &_model {
                left: 12px;
                bottom: 25px;
            }

            &_made {
                left: 12px;
                bottom: 10px;
            }
        }
    }

    .bestYachtOffer {
        &_offer::after {
            bottom: 45px;

            font-size: 8px;
        }
    }
}