@import "@styles/variables.scss";

.bestYachtOffer{
    color: $white-color;

    overflow: hidden;

    display: flex;

    &_offer {
        position: relative;

        height: fit-content;

        color: $white-color;

        font-family: $comfortaa;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;

        flex-grow: 1;

        display: flex;
        align-items: center;

        &_frame {
            width: 100%;
    
            overflow: hidden;
        }

        &_img {
            width: 100%;

            -webkit-transition: all 1.5s ease; /* Safari and Chrome */
            -moz-transition: all 1.5s ease; /* Firefox */
            -ms-transition: all 1.5s ease; /* IE 9 */
            -o-transition: all 1.5s ease; /* Opera */
            transition: all 1.5s ease;
        }

        &_price {
            position: absolute;
            top: 40px;
            right: 40px;
    
            &__dark {
                color: $dark-brown-color;
            }
        }

        &_model {
            position: absolute;
            left: 24px;
            bottom: 75px;
        }

        &_made {
            position: absolute;
            left: 24px;
            bottom: 45px;

            display:flex;

            &_place {
                margin-left: 5px;
            }
        }

        &_more {
            position: absolute;
    
            right: 50px;
            bottom: 75px;
    
            color: $white-color;
    
            font-size: 15px;
    
            display: flex;
            align-items: center;

            &_text {
                height: fit-content;
                
                display: flex;
                align-items: flex-end;
            }
    
            &_arrow {
                margin-left: 10px;

                height: fit-content;
            }
        }
    }
}

.bestYachtOffer {
    &_offer {
        &_img:hover {
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width: $desktop-width) {
    .bestYachtOffer {
        &_offer {
            &_price {
                top: 30px;
            }
        }
    }
}

@media screen and (max-width: $tablet-album-width) {
    .bestYachtOffer {
        &_offer {

            font-size: 15px;

            &_price {
                top: 20px;
                right: 15px;
            }

            &_model {
                left: 12px;
                bottom: 55px;
            }

            &_made {
                left: 12px;
                bottom: 25px;
            }

            &_more {
                bottom: 55px;
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .bestYachtOffer {
        &_offer {

            font-size: 12px;

            &_price {
                top: 20px;
                right: 15px;
            }

            &_model {
                left: 12px;
                bottom: 35px;
            }

            &_made {
                left: 12px;
                bottom: 20px;
            }

            &_more {
                bottom: 35px;

                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .bestYachtOffer {
        &_offer {
            &_more {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .bestYachtOffer {

        &_offer {
            font-size: 10px;

            &_model {
                left: 12px;
                bottom: 30px;
            }

            &_made {
                left: 12px;
                bottom: 15px;
            }

            &_more {
                right: 30px;

                bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .bestYachtOffer {

        &_offer {

            &_model {
                left: 12px;
                bottom: 25px;
            }

            &_made {
                left: 12px;
                bottom: 10px;
            }

            &_more {
                display: none;
            }
        }
    }
}