@import "@styles/variables.scss";

.bestYachtOffer{
    display: flex;

    font-family: $comfortaa;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: $white-color;

    transition: all 1s ease-out;

    overflow: hidden;

    &_offer {
        position: relative;

        height: fit-content;

        font-family: $comfortaa;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;

        color: $white-color;

        flex-grow: 1;

        display: flex;
        align-items: center;

        &_video {
            margin: 0 auto;
        }

        &_img {
            width: 100%;
        }

        &_price {
            position: absolute;
            top: 30px;
            right: 40px;
    
            &__dark {
                color: $dark-brown-color;
            }
        }

        &_bestOffer {
            padding-bottom: 5px;

            position: absolute;
            left: 24px;
            bottom: 105px;

            font-size: 24px;

            border-bottom:  1px solid $white-color;
        }

        &_model {
            position: absolute;
            left: 24px;
            bottom: 75px;
        }

        &_made {
            position: absolute;
            left: 24px;
            bottom: 45px;

            display:flex;

            &_place {
                margin-left: 5px;
            }
        }
    }
}

.bestYachtOffer:hover {
    transform: translate(10px, 10px);
}

.bestYachtOffer::after {
    position: absolute;
    content: "ПОДРОБНЕЕ  >";

    right: 10px;
    bottom: 80px;
    
    color: $white-color;

    z-index: 2;
    transform: translateX(100%);

    transition: all 1s;
}

.bestYachtOffer:hover::after {
    transform: translateX(-30%);
}

@media screen and (max-width: $tablet-album-width) {
    .bestYachtOffer {
        &_offer {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .bestYachtOffer {
        &_offer {

            &_price {
                top: 20px;
                right: 15px;
            }

            &_bestOffer {
                left: 12px;
                bottom: 60px;
    
                font-size: 18px;
            }

            &_model {
                left: 12px;
                bottom: 35px;
            }

            &_made {
                left: 12px;
                bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .bestYachtOffer {

        &_offer {
            font-size: 10px;

            &_bestOffer {
                bottom: 50px;

                font-size: 14px;
            }

            &_model {
                left: 12px;
                bottom: 30px;
            }

            &_made {
                left: 12px;
                bottom: 15px;
            }
        }
    }
}