@import "@styles/variables.scss";

.yachtInfo {
    margin-left: $big-indent;
    margin-right: $big-indent;

    &_character{
        margin-top: 50px;
        
        &_h {
            margin-bottom: 32px;

            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 12px;

            border-left: 1px solid #1B4673;

            color: #828282;

            font-family: $comfortaa;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 16px;
        }

        &_element{
            padding-top: 16px;
            padding-bottom: 16px;

            max-width: 700px;

            border-bottom: 1px solid $light-grey-color;

            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;

            display: flex;

            &_value {
                text-align: right;
                margin-left: auto;
            }

            &__last {
                border: 0px;
            }
        }
    }
}

@media screen and (max-width: $tablet-album-width) {
    .yachtInfo {
        &_character{
            margin-top: 60px;
            
            &_h {
                padding-top: 9px;
                padding-bottom: 9px;

                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .yachtInfo {
        margin-left: $average-indent;
        margin-right: $average-indent;

        &_main {

            &_model {
                font-size: 22px;
            }
    
            &_made {
                font-size: 18px;
            }
        }

        &_character{
            margin-top: 60px;
            
            &_h {
                margin-bottom: 20px;
            }
    
            &_element{
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .yachtInfo {
        margin-left: $small-indent;
        margin-right: $small-indent;

        &_main {

            &_model {
                font-size: 18px;
            }
    
            &_made {
                font-size: 14px;
            }
        }

        &_character{
            margin-top: 50px;
            
            &_h {
                margin-bottom: 16px;

                padding-top: 6px;
                padding-bottom: 6px;

                font-size: 12px;
            }
    
            &_element{
                padding-top: 14px;
                padding-bottom: 14px;

                font-size: 12px;
            }
        }
    }
}