@import "@styles/variables.scss";

.yachtInfo {
    margin-top: 300px;
    margin-left: $big-indent;
    margin-right: $big-indent;

    &_main {

        &_model {
            margin-bottom: 6px;

            color: $black-color;

            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
        }

        &_made {
            color: $dark-grey-color;

            display: flex;

            font-family: $montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;

            &_place {
                margin-left: 30px;
            }
        }
    }

    &_character{
        margin-top: 80px;
        
        &_h {
            margin-bottom: 32px;

            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
        }

        &_element{
            padding-top: 16px;
            padding-bottom: 16px;

            max-width: 700px;

            border-bottom: 1px solid $light-grey-color;

            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;

            display: flex;

            &_value {
                text-align: right;
                margin-left: auto;
            }

            &__last {
                border: 0px;
            }
        }
    }
}

@media screen and (max-width: $desktop-width) {
    .yachtInfo {
        margin-top: 200px;
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .yachtInfo {
        margin-top: 220px;
        margin-left: $average-indent;
        margin-right: $average-indent;

        &_main {

            &_model {
                font-size: 22px;
            }
    
            &_made {
                font-size: 18px;
            }
        }

        &_character{
            margin-top: 60px;
            
            &_h {
                margin-bottom: 20px;
            }
    
            &_element{
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .yachtInfo {
        margin-top: 140px;
        margin-left: $small-indent;
        margin-right: $small-indent;

        &_main {

            &_model {
                font-size: 18px;
            }
    
            &_made {
                font-size: 14px;
            }
        }

        &_character{
            margin-top: 50px;
            
            &_h {
                margin-bottom: 16px;

                font-size: 16px;
            }
    
            &_element{
                padding-top: 14px;
                padding-bottom: 14px;

                font-size: 12px;
            }
        }
    }
}