@import "@styles/variables.scss";

.yachtInfo {
    margin-top: 50px;
    margin-left: $big-indent;

    display: flex;
    align-items: center;
    

    &_character{
        width: fit-content;

        &_h {
            margin-bottom: 32px;

            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 12px;

            border-left: 1px solid #1B4673;

            color: #828282;

            font-family: $comfortaa;
            font-style: normal;
            font-weight: 400;
            line-height: 139.9%;
            font-size: 18px;
        }

        &_element{
            padding-top: 16px;
            padding-bottom: 8px;

            max-width: 700px;

            border-bottom: 1px solid $light-grey-color;

            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;

            display: flex;

            &_value {
                text-align: right;
                margin-left: auto;
            }

            &__last {
                border: 0px;
            }
        }
    }

    &_schema {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;

        width: 500px;

        &_img {
            width: 100%;
        }
    }
}

@media screen and (max-width: $desktop-width) {
    .yachtInfo {
        margin-right: 50px;
        
        justify-content: space-between;
        
        &_character{
            &_h {
                font-size: 14px;
            }
        }

        &_schema {
            margin-left: 0px;
            margin-right: 0px;

            width: fit-content;
        }
    }
}

@media screen and (max-width: $tablet-album-width) {
    .yachtInfo {
        margin-top: 60px;

        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &_character{
            width: 100%;
            &_h {
                padding-top: 9px;
                padding-bottom: 9px;
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .yachtInfo {
        margin-left: $average-indent;
        margin-right: $average-indent;

        &_main {

            &_model {
                font-size: 22px;
            }
    
            &_made {
                font-size: 18px;
            }
        }

        &_character{
            &_h {
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .yachtInfo {
        margin-top: 50px;
        margin-left: $small-indent;
        margin-right: $small-indent;

        &_main {

            &_model {
                font-size: 18px;
            }
    
            &_made {
                font-size: 14px;
            }
        }

        &_character{
            &_h {
                margin-bottom: 16px;

                padding-top: 6px;
                padding-bottom: 6px;

                font-size: 12px;
            }
    
            &_element{
                font-size: 12px;
            }
        }

        &_schema {
            width: 100%;
        }
    }
}