//  Colors
$black-color: #000000;
$white-color: #ffffff;

// Fonts
$comfortaa: "Comfortaa";
$cormorantSC: "Cormorant SC";
$cormorantUnicase: "Cormorant Unicase";

// widths
$tablet-album-width: 1024px;
$tablet-portrait-width: 840px;
$phone-album-width: 480px;
$phone-portrait-width: 320px;

// indents
$big-indent: 105px;
$average-indent: 40px;
$small-indent: 16px;