@import "@styles/variables.scss";

.footer {
  margin-top: 80px;

  padding: 30px $big-indent;

  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(5, 80, 149, 0.6) 100%
    ),
    linear-gradient(
      180deg,
      rgba(0, 191, 226, 0.6) 0%,
      rgba(1, 90, 107, 0.39) 45.88%,
      rgba(0, 0, 0, 0) 98.41%
    ),
    #12628e;

    font-family: $comfortaa;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;

    display: flex;
    justify-content: space-between;

    &_contacts {

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_link {
        text-decoration: none;
      }

      &_element {
        list-style: none;
        
        color: $white-color;

        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    &_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      &_element {
        margin-top: 5px;
        margin-bottom: 5px;

        list-style: none;

        color: $white-color;

        text-align: right;
      }
    }
}

@media screen and (max-width: $tablet-album-width) {
  .footer {
    padding: 25px $average-indent;

    font-size: 13px;

    &_contacts {

      &_element {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    &_info {

      &_element {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: $tablet-portrait-width) {
  .footer {
    flex-direction: column;

    &_info {
      margin-top: 20px;

      &_element {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: $phone-album-width) {
  .footer {
    padding: 25px $small-indent;

    font-size: 10px;
  }
}