@import "@styles/variables.scss";

.reservation {
    position: relative;

    background: #000000;

    &_video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
        opacity: 0.65;
    }

    &_h {
        position: relative;

        padding-top: 60px;
        padding-left: $big-indent;

        color: $white-color;

        font-family: $cormorantSC;
        font-style: normal;
        font-size: 47px;

        text-transform: uppercase;

        z-index: 1;
    }

    &_button {
        position: relative;

        margin-top: 40px;
        margin-left: $big-indent;
        padding: 16px 46px;

        background-color: $white-color;
        border: 0px;
        border-radius: 2px;

        color: #1B4673;

        font-family: $comfortaa;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;

        z-index: 1;

        transition: all 0.3s linear;
    }

    &_button:hover {
        background: $dark-blue-color;

        color: $white-color;
    }

    &_hr {
        position: relative;

        margin-left: auto;
        margin-right:$big-indent;

        width: 176px;

        background-color: $white-color;
        border: 1px solid $white-color;

        z-index: 1;
    }

    &_text {
        position: relative;

        margin-left: 40%;
        margin-right: $big-indent;

        padding-bottom: 40px;

        color: $white-color;

        text-align: right;

        font-family: $cormorantSC;
        line-height: 139.9%;
        font-size: 19px;

        z-index: 1;
    }
}

@media screen and (max-width: $tablet-album-width) {
    .reservation {
        &_h {
            padding-top: 30px;
            padding-left: $average-indent;

            font-size: 26px;
        }

        &_button {
            margin-left: $average-indent;

            padding: 8px 20px;

            font-size: 12px;
        }

        &_hr {
            margin-right: $average-indent;
        }

        &_text {
            margin-right: $average-indent;

            font-size: 12px;
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .reservation {
        &_h {
            padding-top: 16px;
            padding-left: $small-indent;

            font-size: 16px;
        }

        &_button {
            margin-top: 20px;
            margin-left: $small-indent;

            padding: 6px 16px;

            font-size: 10px;
        }

        &_hr {
            width: 120px;

            margin-right: $small-indent;
        }

        &_text {
            margin-right: $small-indent;

            padding-bottom: 16px;

            font-size: 10px;
        }
    }
}