@import "@styles/variables.scss";

.yachtOffer {
    position: relative;

    width: 100%;
    height: min-content;

    font-family: $comfortaa;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: $white-color;

    overflow: hidden;

    flex-grow: 1;

    &_left {
        margin-right: 10px;
    }

    &_right {
        margin-left: 10px;
    }

    &_frame {
        width: 100%;

        overflow: hidden;

        display:flex;
    }

    &_img {
        width: 100%;
        height: 100%;

        -webkit-transition: all 1.5s ease; /* Safari and Chrome */
        -moz-transition: all 1.5s ease; /* Firefox */
        -ms-transition: all 1.5s ease; /* IE 9 */
        -o-transition: all 1.5s ease; /* Opera */
        transition: all 1.5s ease;
    }

    &_price {
        position: absolute;
        top: 30px;
        right: 40px;

        &__dark {
            color: $dark-brown-color;
        }
    }

    &_model {
        position: absolute;
        left: 40px;
        bottom: 80px;

        font-size: 18px;
    }

    &_made {
        position: absolute;
        left: 40px;
        bottom: 50px;

        display:flex;

        &_place {
            margin-left: 5px;
        }
    }

    &_more {
        position: absolute;

        right: 27px;
        bottom: 80px;

        color: $white-color;

        font-size: 13px;

        display: flex;
        align-items: center;

        &_text {
            height: fit-content;

            display: flex;
            align-items: flex-end;
        }

        &_arrow {
            margin-left: 10px;

            height: fit-content;
        }
    }
}

.yachtOffer {
    
    &_img:hover {
        transform: scale(1.05);
    }
}

@media screen and (max-width: $desktop-width) {
    .yachtOffer {
        &_model {
            left: 12px;
            bottom: 60px;
        }

        &_made {
            left: 12px;
            bottom: 30px;
        }

        &_more {
            bottom: 60px;
        }
    }
}

@media screen and (max-width: $tablet-album-width) {
    .yachtOffer {
        font-size: 12px;
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .yachtOffer {
        &_price {
            top: 20px;
            right: 15px;
        }

        &_model {
            left: 12px;
            bottom: 35px;
        }

        &_made {
            left: 12px;
            bottom: 20px;
        }

        &_more {
            bottom: 35px;

            font-size: 10px;
        }
    }
}

@media screen and (max-width: 700px) {
    .yachtOffer {
        &_more {
            display: none;
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .yachtOffer {
        margin-bottom: 10px;

        flex-wrap: wrap;
        font-size: 12px;
    
        &_left {
            margin-right: 0;
        }

        &_right {
            margin-left: 0;
        }

        &_model {
            left: 18px;
            bottom: 45px;
        }
    
        &_made {
            left: 18px;
            bottom: 25px;
        }

        &_more {
            display: flex;

            bottom: 45px;

            font-size: 12px;
        }
    }
}

@media screen and (max-width: 380px) {
    .yachtOffer {
        &_more {
            display: none;
        }
    }
}