@import "@styles/variables.scss";

.yachtOffer {
    position: relative;

    height: fit-content;

    font-family: $comfortaa;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: $white-color;

    flex-grow: 1;

    transition: all 1s ease-out;

    overflow: hidden;

    &_video {
        width: 100%;

        object-fit:fill;
    }

    &_img {
        width: 100%;
    }

    &_price {
        position: absolute;
        top: 30px;
        right: 40px;

        &__dark {
            color: $dark-brown-color;
        }
    }

    &_model {
        position: absolute;
        left: 24px;
        bottom: 80px;
    }

    &_made {
        position: absolute;
        left: 24px;
        bottom: 50px;

        display:flex;

        &_place {
            margin-left: 5px;
        }
    }
}

.yachtOffer:hover {
    transform: translate(10px, 10px);
}

.yachtOffer::after {
    position: absolute;
    content: "ПОДРОБНЕЕ  >";

    right: 7px;
    bottom: 80px;
    
    color: $white-color;

    z-index: 2;
    transform: translateX(100%);

    transition: all 1s;
}

.yachtOffer:hover::after {
    transform: translateX(-30%);
}

@media screen and (max-width: $tablet-album-width) {
    .yachtOffer {
        font-size: 12px;

        &_model {
            left: 12px;
            bottom: 50px;
        }

        &_made {
            left: 12px;
            bottom: 30px;
        }
    }

    .yachtOffer::after {
        bottom: 50px;
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .yachtOffer {
        &_price {
            top: 20px;
            right: 15px;
        }

        &_model {
            left: 12px;
            bottom: 35px;
        }

        &_made {
            left: 12px;
            bottom: 20px;
        }
    }

    .yachtOffer::after {
        bottom: 35px;
    }
}

@media screen and (max-width: 700px) {
    .yachtOffer::after {
        bottom: 60px;

        font-size: 10px;
    }
}

@media screen and (max-width: $phone-album-width) {
    .yachtOffer {
        flex-wrap: wrap;
        font-size: 12px;
    
        &_model {
            left: 18px;
            bottom: 45px;
        }
    
        &_made {
            left: 18px;
            bottom: 25px;
        }
    }

    .yachtOffer::after {
        bottom: 45px;

        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    .yachtOffer::after {
        bottom: 65px;

        font-size: 12px;
    }
}