@import "@styles/variables.scss";

.header {
    margin-left: 45px;
    margin-right: $big-indent;

    padding-top: 34px;
    padding-bottom: 34px;

    max-height: 100px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: $comfortaa;

    &_logo {
        width: 216px;
    }

    &_menu {
        display:flex;
        justify-content: space-between;
        align-items: center;

        &_choice {
            margin-left:21px;
            margin-right: 20px;

            &_link {
                color: $black-color;
                text-decoration: none;
            }
        }
    }

    &_phone {
        margin-left: auto;

        &_a {
            color: $white-color;

            text-decoration: none;
        }
    }
}

@media screen and (max-width: $tablet-album-width) {
    .header {
        margin-left: 35px;
        margin-right: $average-indent;

        max-height: 80px;

        font-size: 12px;

        &_logo {
            width: 180px;
        }

        &_menu {

            &_choice {
                margin-left: 11px;
                margin-right: 10px;
            }
        }
    }
}
@media screen and (max-width: $tablet-portrait-width) {
    .header {
        margin-left: $small-indent;
        margin-right: 20px;

        padding-top: 20px;
        padding-bottom: 20px;

        max-height: 60px;

        font-size: 10px;

        &_logo {
            width: 130px;
        }

        &_menu {

            &_choice {
                margin-left: 6px;
                margin-right: 5px;
            }
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .header {
        margin-left: 8px;
        margin-right: $small-indent;

        max-height: 40px;

        padding-top: 16px;
        padding-bottom: 16px;

        font-size: 8px;

        &_logo {
            width: 100px;
        }

        &_menu {

            &_choice {
                margin-left: 4px;
                margin-right: 3px;
            }
        }

        &_phone {
            display: none;
        }
    }
}