@import "@styles/variables.scss";

.yachtDescription {
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    &_imageBlock {
        margin-bottom: 40px;

        position: relative;

        &_bigImage {
            width: 100%;
    
            &_description {
                
                max-width: 500px;
    
                font-family: $montserrat;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 139.9%;
    
                &_upperLeft {
                    position: absolute;
                    top: 25px;
                    bottom: unset;
                    left: 100px;
                    right: unset;

                    max-width: 380px;
                }
    
                &_upperRight {
                    position: absolute;
                    top: 25px;
                    bottom: unset;
                    left: unset;
                    right: 100px;

                    max-width: 550px;
    
                    text-align: right;              
                }

                &_lowerLeft {
                    position: absolute;
                    top: unset;
                    bottom: 25px;
                    left: 100px;
                    right: unset;
                }

                &_lowerRight {
                    position: absolute;
                    top: unset;
                    bottom: 25px;
                    left: unset;
                    right: 100px;
    
                    max-width: 400px;

                    text-align: right; 
                }
    
                &_light {
                    color: $white-color;
                }
    
                &_dark {
                    color: $black-color;
                }
            }
        }
    }

    &_aboutYacht {
        margin-top: 60px;
        margin-bottom: 90px;
        margin-left: auto;
        margin-right: auto;

        width: 100%;
        max-width: fit-content;

        &_h {
            margin-bottom: 60px;
            margin-left: 35%;

            padding-bottom: 12px;

            width: 100%;
            max-width: fit-content;

            border-bottom: 1px solid #828282;

            color: #828282;

            font-family: $comfortaa;
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 33px;
        }

        &_text {
            width: 100%;
            max-width: 550px;

            white-space: pre;

            font-family: $montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 139.9%;
        }
    }

    &_imagine {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;

        max-width: 1100px;

        color: #B9B9B9;

        font-family: $montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 139.9%;

        text-align: center;
    }

    &_smallImages {
        margin-left: $big-indent;
        margin-right: $big-indent;
        margin-bottom: 50px;

        display: flex;
        justify-content: center;

        &_frame {
            margin-left: 10px;
            margin-right: 10px;

            width: 100%;

            overflow: hidden;

            display:flex;
        }

        &_smallImage {
            width: 100%;

            -webkit-transition: all 1.5s ease; /* Safari and Chrome */
            -moz-transition: all 1.5s ease; /* Firefox */
            -ms-transition: all 1.5s ease; /* IE 9 */
            -o-transition: all 1.5s ease; /* Opera */
            transition: all 1.5s ease;
        }
    }
}

.yachtDescription {
    &_smallImages {
        &_smallImage:hover {
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width: $desktop-width) {
    .yachtDescription {
        &_imageBlock {
            &_bigImage {
                &_description {
                    font-size: 15px;
                }
            }
        }

        &_aboutYacht {
            &_text {
                font-size: 15px;
            }
        }

        &_smallImages {
            margin-left: 0px;
            margin-right: 0px;

            &_frame {
                width: auto;
            }
        }
    }
}

@media screen and (max-width: $tablet-album-width) {
    .yachtDescription {
        margin-top: 35px;
        &_imageBlock {
            margin-bottom: 20px;
            &_bigImage {
                &_description {
                    font-size: 12px;

                    &_upperLeft {
                        max-width: 340px;

                        top: 15px;
                        bottom: unset;
                        left: 25px;
                        right: unset;
                    }

                    &_upperRight {
                        max-width: 450px;

                        top: 15px;
                        bottom: unset;
                        left: unset;
                        right: 25px;
                    }

                    &_lowerLeft {
                        top: unset;
                        bottom: 15px;
                        left: 25px;
                        right: unset;
                    }

                    &_lowerRight {
                        top: unset;
                        bottom: 15px;
                        left: unset;
                        right: 25px;

                        max-width: 300px;
                    }
                }
            }
        }

        &_aboutYacht {
            margin-top: 30px;
            margin-bottom: 40px;

            &_h {
                margin-bottom: 30px;
            }
        }

        &_imagine {
            margin-bottom: 20px;

            font-size: 18px;
        }

        &_smallImages {
            margin-bottom: 25px;
        }
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .yachtDescription {
        margin-top: 35px;
        &_imageBlock {
            margin-bottom: 20px;
            &_bigImage {
                &_description {
                    font-size: 10px;

                    &_upperLeft {
                        top: 5px;
                        bottom: unset;
                        left: 15px;
                        right: unset;
                    }

                    &_upperRight {
                        top: 5px;
                        bottom: unset;
                        left: unset;
                        right: 15px;
                    }

                    &_lowerLeft {
                        top: unset;
                        bottom: 5px;
                        left: 15px;
                        right: unset;
                    }

                    &_lowerRight {
                        top: unset;
                        bottom: 5px;
                        left: unset;
                        right: 15px;
                    }
                }
            }
        }

        &_aboutYacht {
            margin-top: 30px;
            margin-bottom: 40px;

            &_h {
                margin-bottom: 20px;

                font-size: 25px;
            }

            &_text {
                font-size: 13px;
            }
        }

        &_imagine {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 740px) {
    .yachtDescription {
        &_imageBlock {
            margin-bottom: 20px;
            &_bigImage {
                &_description {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .yachtDescription {
    
        &_aboutYacht {
    
            &_h {
                margin-bottom: 10px;
                margin-left: 30%;

                padding-bottom: 6px;

                font-size: 22px;
            }
    
            &_text {

                max-width: 290px;

                white-space: unset;

                text-align: justify;
            }
        }

        &_imagine {
            font-size: 14px;
        }
    }
}