@import "@styles/variables.scss";

.yachtDescription {
    margin-left: auto;
    margin-right: auto;

    width: fit-content;

    &_bigImage {
        margin-top: 70px;
    }

    &_description {
        margin-top: 40px;

        display: flex;
        justify-content: space-between;

        &_text {
            margin-top: 20px;

            max-width: 500px;

            font-family: $montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 139.9%;
        }
    }
}