@import "@styles/variables.scss";

.contacts {
    padding-top: 64px;
    padding-left: $big-indent;
    padding-right: $big-indent;

    background-repeat: no-repeat;
    background-size: cover;

    display:flex;

    &_h {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;

        border-left: 1px solid $dark-blue-color;

        color: #828282;

        font-family: $comfortaa;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
    }

    &_reservation {
        margin-top: 60px;
        margin-bottom: 30px;

        max-width: 480px;

        font-family: $cormorantUnicase;
        font-style: normal;
        font-weight: 500;
        font-size: 44px;
    }

    &_text {
        max-width: 600px;

        font-family: $cormorantSC;
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
    }

    &_phone {
        margin-top: 70px;
        margin-left: auto;

        padding-top: 80px;
        padding-right: 25px;
        padding-bottom: 45px;

        width: fit-content;
        min-width: 410px;
        height: fit-content;

        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: right;
        object-fit: contain;

        display: flex;
        flex-direction: column;
        align-items: center;

        &_avatar {
            margin-bottom: 12px;

            @include square(180px, 50%);

            border: 2px solid $white-color;
        }

        &_name {
            color: $dark-brown-color;

            white-space: nowrap;

            font-family: $comfortaa;
            font-style: normal;
            font-weight: 500;
            line-height: 139.9%;
            font-size: 24px;
        }

        &_title {
            margin-bottom: 17px;

            color: $light-grey-color;

            font-family: $comfortaa;
            font-style: normal;
            font-weight: 500;
            line-height: 139.9%;
            font-size: 16px;
        }

        &_email {
            color: $blue-color;

            font-family:$cormorantSC;
            font-style: normal;
            font-weight: 400;
            line-height: 139.9%;
            font-size: 22px;
        }

        &_phoneNumber {
            margin-top: 7px;
            margin-bottom: 19px;

            color: $dark-brown-color;

            white-space: nowrap;

            font-family: $comfortaa;
            font-style: normal;
            font-weight: 400;
            line-height: 139.9%;
            font-size: 17px;
        }

        &_call{
            padding: 10px 65px;

            color: $white-color;
            text-decoration: none;

            background: $dark-blue-color;
            border-radius: 3px;

            font-family: $comfortaa;
            font-style: normal;
            font-weight: 500;
            line-height: 139.9%;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .contacts {
        padding-right: 0px;
    }
}

@media screen and (max-width: $desktop-width) {
    .contacts {
        &_h {
            font-size: 14px;
        }

        &_text{
            margin-right: 211px;
            font-size: 19px;
        }

        &_phone {
            margin-top: 70px;
            margin-left: auto;

            min-width: 410px;

            &_avatar {
                margin-bottom: 12px;
            }
    
            &_name {
                font-size: 24px;
            }
    
            &_title {
                margin-bottom: 17px;

                font-size: 16px;
            }
    
            &_email {
                font-size: 22px;
            }
    
            &_phoneNumber {
                margin-top: 7px;
                margin-bottom: 19px;
    
                font-size: 17px;
            }
    
            &_call{
                padding: 10px 65px;

                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: $tablet-album-width) {
    .contacts {
        padding-top: 32px;
        padding-left: $average-indent;

        &_h {
            padding-top: 9px;
            padding-bottom: 9px;

            font-size: 16px
        }

        &_reservation {
            margin-top: 60px;
            margin-bottom: 30px;

            font-size: 30px;
        }

        &_text {
            margin-right: 135px;

            font-size: 14px;
        }

        &_phone {
            margin-top: 60px;
            padding-bottom: 10px;
            margin-left: auto;

            padding-top: 65px;
            padding-right: 25px;

            min-width: 300px;

            &_avatar {
                margin-bottom: 12px;
    
                @include square(130px, 50%);
            }
    
            &_name {
                font-size: 18px;
            }
    
            &_title {
                font-size: 14px;
            }
    
            &_email {
                font-size: 16px;
            }
    
            &_phoneNumber {
                font-size: 13px;
            }
    
            &_call{
                padding: 10px $average-indent;
    
                font-size: 14px;
            }
        }
    } 
}

@media screen and (max-width: $tablet-portrait-width) {
    .contacts {

        &_reservation {
            margin-top: 30px;
            margin-bottom: 15px;
    
            font-size:22px;
        }

        &_text {
            margin-right: 20px;
        }
    
        &_phone {
            margin-top: 40px;
            margin-left: auto;
    
            padding-top: 60px;
            padding-right: 18px;
    
            min-width: 240px;
    
            &_avatar {
                margin-bottom: 6px;
    
                @include square(120px, 50%);
            }
    
            &_name {
                line-height: 100%;
                font-size: 18px;
            }
    
            &_title {
                margin-bottom: 10px;

                line-height: 100%;
                font-size: 13px;
            }
    
            &_email {
                line-height: 100%;
                font-size: 14px;
            }
    
            &_phoneNumber {
                margin-top: 4px;
                margin-bottom: 12px;

                line-height: 100%;
                font-size: 13px;
            }
    
            &_call{
                padding: 10px $average-indent;
    
                line-height: 100%;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .contacts {
        padding-top: 16px;
        padding-left: $small-indent;
        padding-right: $small-indent;

        flex-direction: column;

        &_h {
            padding-top: 6px;
            padding-bottom: 6px;

            font-size: 12px;
        }

        &_reservation {
            margin-top: 10px;
            margin-bottom: 5px;
    
            font-size:18px;
        }

        &_text {
            margin-right: 10px;

            font-size: 11px;
        }

        &_phone {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
    
            padding-top: 50px;
            padding-right: 18px;
    
            min-width: 240px;
    
            &_avatar {
                margin-bottom: 6px;
    
                @include square(100px, 50%);
            }
    
            &_name {
                font-size: 14px;
            }
    
            &_title {
                font-size: 10px;
            }
    
            &_email {
                font-size: 12px;
            }
    
            &_phoneNumber {
                font-size: 12px;
            }
    
            &_call{
                padding: 10px $average-indent;
                font-size: 12px;
            }
        }
    } 
}