@import "./assets/fonts/Comfortaa/Comfortaa.css";
@import "./assets/fonts/CormorantSC/CormorantSC.css";
@import "./assets/fonts/CormorantUnicase/CormorantUnicase.css";
@import "./assets/fonts/Montserrat/Montserrat.css";

.App {
  margin: 0 auto;

  max-width: 1920px;
}

body {
  margin: 0;
}

.element-animation {
  opacity: 0;
  transform: translateY(100%);
}

.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}