@import "@styles/variables.scss";

.assortment {
    padding-left: $big-indent;
    padding-right: $big-indent;

    &_h {
        margin-top: 63px;
        margin-bottom: 30px;

        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;

        border-left: 1px solid #1B4673;

        color: #828282;

        font-family: $comfortaa;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
    }
}

@media screen and (max-width: $tablet-album-width) {
    .assortment {
        padding-left: $average-indent;
        padding-right: $average-indent;

        &_h {
            margin-top: 30px;
            margin-bottom: 15px;

            font-size: 26px;
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .assortment {
        padding-left: $small-indent;
        padding-right: $small-indent;

        &_h {
            margin-top: 16px;
            margin-bottom: 8px;

            font-size: 16px;
        }
    }
}