@import "@styles/variables.scss";

#aboutUs {
    margin-left: $big-indent;
    margin-right: 30%;

    padding-top: 52px;
    padding-bottom: 52px;
    

    font-family: $cormorantSC;
    font-size: 19px;
}

@media screen and (max-width: $tablet-album-width) {
    #aboutUs {
        margin-left: $average-indent;
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: 12px;
    }
}

@media screen and (max-width: $phone-album-width) {
    #aboutUs {
        margin-left: $small-indent;
        padding-top: 16px;
        padding-bottom: 16px;
        
        font-size: 10px;
    }
}