@import "@styles/variables.scss";

.aboutUs {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;

    border-left: 1px solid $dark-blue-color;

    color: #828282;

    font-family: $comfortaa;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
}

.container {

    display: flex;
    justify-content: space-between;

    &_services {
        margin-top: 67px;

        &_h {

            font-family: $cormorantSC;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
        }
    
        &_service {
            margin-bottom: 15%;

            padding-left: 12px;

            max-width: 500px;

            border-left: 1px solid $light-blue-color;

            font-family: $cormorantSC;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
        }
    }

    &_images {
        margin-top: 67px;
        margin-left: 5%;

        &_row {
            display: flex;

            &_img {
                margin-top: 15px;
                margin-bottom: 15px;
                margin-left: 20px;
                margin-right: 20px;

                height: 160px;
            }
        }
    }
}


@media screen and (max-width: $desktop-width) {
    .aboutUs {
        margin-bottom: 16px;

        font-size: 14px;
    }
    .container {

        &_services {
            margin-top: 30px;
    
            &_h {
                font-size: 28px;
            }
        
            &_service {

                padding-left: 12px;
    
                max-width: 400px;

                font-size: 16px;
            }
        }

        &_images {
            margin-top: 30px;
            margin-left: 10%;
    
            &_row {
                display: flex;
    
                &_img {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    margin-left: 20px;
                    margin-right: 20px;
    
                    max-height: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-album-width) {
    .aboutUs {
        margin-bottom: 12px;

        padding-top: 9px;
        padding-bottom: 9px;
    }

    .container {

        &_services {
            margin-top: 15px;
    
            &_h {
                font-size: 20px;
            }
        
            &_service {

                padding-left: 12px;
    
                max-width: 300px;

                font-size: 14px;
            }
        }

        &_images {
            margin-top: 15px;
            margin-left: 5%;
    
            &_row {
                display: flex;
    
                &_img {
                    margin-top: 8px;
                    margin-bottom: 8px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait-width) {
    .container {
        &_images {
            display: none;
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .aboutUs {
        margin-bottom: 8px;

        padding-top: 6px;
        padding-bottom: 6px;

        font-size: 12px;
    }

    .container {

        &_services {
            margin-top: 0px;
            
            &_h {
                font-size: 16px;
            }
        
            &_service {
                margin-bottom: 10%;

                font-size: 12px;
            }
        }
    }
}